.business-rates {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 270px;
  padding: 34px 0 0 0;
  border-radius: 20px;
  background-color: var(--basic-white);
  box-shadow: 0 2px 8px rgba($color-button-blue, 0.14);
  z-index: 100;
}

.business-rates .heading-2 {
  align-self: center;
  margin-bottom: 0;
}

.business-rates__list {
  margin: 28px 25px 34px;
  padding: 0;
  list-style-type: none;
  color: $color-special-grey;
}

.business-rates__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 11px 0;
  border-top: 1px solid rgba($color-black, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba($color-black, 0.05);
  }
}

.business-rates__button {
  @include bottom-radius(20px);

  height: 59px;
  padding: 0;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-button-blue;
  cursor: pointer;

  &:hover {
    background-color: $color-special-blue-light;
  }

  &:active {
    color: rgba($color-button-blue, 0.3);
  }
}
