.business-rates {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 270px;
  padding: 34px 0 0 0;
  border-radius: 20px;
  background-color: $color-white;
  box-shadow: 0 2px 8px rgba($color-button-blue, 0.14);
  z-index: 100;

  @media screen and (min-width: $tablet-width) {
    width: 688px;
    padding: 50px 0 0 0;
    box-shadow: 0 4px 22px rgba($color-button-blue, 0.18);
  }

  @media screen and (min-width: $desktop-width) {
    width: 750px;
  }
}

.business-rates .heading-2 {
  align-self: center;
  margin-bottom: 0;
}

.business-rates__list {
  margin: 28px 25px 34px;
  padding: 0;
  list-style-type: none;

  @media screen and (min-width: $tablet-width) {
    margin: 50px 90px 50px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 50px 60px 50px;
  }
}

.business-rates__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 11px 0;
  border-top: 1px solid rgba($color-black, 0.05);
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-grey-44;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    font-size: 22px;
    line-height: 33px;
  }

  &:last-child {
    border-bottom: 1px solid rgba($color-black, 0.05);
  }
}

.business-rates__close {
  @include flex-center;
  @include bottom-radius(20px);
  min-height: 59px;
  padding: 10px 15px;
  border: none;
  background-color: $color-ghost-white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-button-blue;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    min-height: 108px;
    font-size: 24px;
    text-transform: none;
  }

  &:hover {
    background-color: $color-special-blue-light;
  }

  &:active {
    color: rgba($color-button-blue, 0.3);
  }
}
