.country-selection {
  @include top-radius(4px);
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 16px rgba($color-hawkes-blue-b, 0.25);
  background-color: $color-white;
  z-index: 2;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 575px;
    box-shadow: 0 8px 16px rgba($color-tory-blue, 0.18);
    background-color: transparent;
  }

  @media screen and (min-width: $desktop-width) {
    width: 730px;
  }

  &::after {
    @include circle(24px);
    position: absolute;
    content: "";
    right: -12px;
    top: -12px;
    background-color: $color-white;
    z-index: 1;

    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }
}

.country-selection__header {
  @include top-radius(4px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px 5px 17px;
  min-height: 42px;
  background-color: $color-button-blue;
  z-index: 3;

  @media screen and (min-width: $tablet-width) {
    width: 370px;
    min-height: 70px;
    padding: 20px 25px 20px 25px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 730px;
  }
}

.country-selection__title {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $color-white;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}

.country-selection__close {
  @include flex-center;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  stroke: $color-white;
  stroke-opacity: 0.7;
  cursor: pointer;
  z-index: 10;

  &:hover {
    stroke-opacity: 1;
  }

  &:active {
    stroke-opacity: 0.1;
  }
}

.country-selection__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet-width) {
    width: 370px;
    padding: 35px 70px 33px 27px;
    border-right: 1px solid $color-link-water;
    border-bottom-left-radius: 4px;
    background-color: $color-white;
  }

  @media screen and (min-width: $desktop-width) {
    width: 490px;
    padding: 34px 70px 36px 25px;
  }
}

.country-selection__letters {
  display: grid;
  grid-template-columns: repeat(5, 44px);
  width: 220px;
  border-right: 1px solid $color-link-water;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 53px);
    width: 265px;
    border-top: 1px solid $color-link-water;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: repeat(5, 60px);
    column-gap: 16px;
    row-gap: 14px;
    border: none;
  }
}

.country-selection__input {
  @include visually-hidden;
}

.country-selection__input:checked + .country-selection__letter {
  border-color: $color-button-blue;
  background-color: $color-button-blue;
  color: $color-white;
}

.country-selection__letter {
  @include flex-center;

  height: 40px;
  border-left: 1px solid $color-link-water;
  border-bottom: 1px solid $color-link-water;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-button-blue;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    height: 68px;
    font-size: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    border: 1px solid $color-link-water;
    border-radius: 4px;
  }

  &:hover {
    background-color: $color-basic-blue-light;
  }

  &:active {
    border-color: $color-button-blue;
    background-color: $color-button-blue;
    color: $color-white;
  }
}

.country-selection__countries-wrapper {
  @include bottom-radius(4px);

  padding: 19px 19px 27px 19px;
  border: 1px solid $color-link-water;
  background-color: $color-white;

  @media screen and (min-width: $tablet-width) {
    width: 205px;
    padding: 35px 10px 33px 25px;
    border: none;
    border-bottom-right-radius: 4px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 240px;
  }
}

.country-selection__countries {
  display: flex;
  flex-direction: column;
}

.country-selection__countries a {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-grey-44;
  text-decoration: none;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    color: $color-button-blue;
  }

  &:active {
    color: rgba($color-button-blue, 0.3);
  }
}
