.countries {
  @include bottom-radius(30px);

  position: relative;
  margin-top: -30px;
  padding: 100px 25px 34px;
  background-color: $color-basic-blue-light;
  z-index: 8;
}

.countries .heading-2 {
  margin-left: 24px;
}

.countries__description {
  margin: 0 30px 60px 24px;
  color: $color-special-grey;
}
