.country {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 270px;
  min-height: 190px;
  /* background-position: left top;
  background-repeat: no-repeat;
  background-size: contain; */

  @media screen and (min-width: $tablet-width) {
    flex-direction: row-reverse;
    border-radius: 20px;
    width: 616px;
    min-height: 140px;
    background-position: right top;

    &:last-of-type::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 94px;
      background-image: url("../img/fade-country.png");
      background-repeat: repeat-x;
      background-size: 100% 94px;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: 559px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  /* &--thailand {
    background-image: url("../img/thailand-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/thailand-mobile@2x.jpg");
    }

    @media screen and (min-width: $tablet-width) {
      background-image: url("../img/thailand-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/thailand-desktop@2x.jpg");
      }
    }
  }

  &--france {
    background-image: url("../img/france-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/france-mobile@2x.jpg");
    }

    @media screen and (min-width: $tablet-width) {
      background-image: url("../img/france-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/france-desktop@2x.jpg");
      }
    }
  }

  &--czechia {
    background-image: url("../img/czechia-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/czechia-mobile@2x.jpg");
    }

    @media screen and (min-width: $tablet-width) {
      background-image: url("../img/czechia-desktop@1x.jpg");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/czechia-desktop@2x.jpg");
      }
    }
  } */
}

.country__picture {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.country__img {
  @include top-radius(10px);

  flex-shrink: 0;
  width: 270px;
  height: 110px;

  @media screen and (min-width: $tablet-width) {
    width: 186px;
    height: 140px;
    border-radius: 0 20px 20px 0;
  }
}

.country__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* margin: 100px 0 0 0; */
  margin-top: -10px;
  padding: 25px 24px 0;
  min-height: 89px;
  border-radius: 10px;
  background-color: $color-white;

  @media screen and (min-width: $tablet-width) {
    flex-direction: column;
    flex-grow: 1;
    height: 140px;
    margin: 0;
    padding: 30px 0 27px 29px;
    border-radius: 20px 0 0 20px;
  }
}

.country__description::before {
  @media screen and (min-width: $tablet-width) {
    left: auto;
    right: -35px;
    top: 17px;
    width: 70px;
    height: 47px;
    background-size: 70px 47px;
  }
}

.country__name {
  display: flex;
  flex-direction: column;
}

.country__title {
  margin: 0;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  color: $color-black;

  @media screen and (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.country__slogan {
  width: 130px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: $color-grey-44;
  opacity: 0.3;

  @media screen and (min-width: $tablet-width) {
    width: 100%;
    font-size: 20px;
  }
}

.country__users {
  position: relative;
  height: 20px;
  margin: 0;
  padding-left: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-basic-blue;
  opacity: 0.3;

  @media screen and (min-width: $tablet-width) {
    height: 20px;
    padding-left: 31px;
    font-size: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-image: url("../img/icon-user.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    opacity: 0.3;

    @media screen and (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
      background-size: 22px 22px;
    }
  }
}

.country__flag {
  position: absolute;
  content: "";
  left: 25px;
  top: -12px;
  width: 35px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-width) {
    left: auto;
    right: -35px;
    top: 17px;
    width: 70px;
    height: 47px;
  }

  @media screen and (min-width: $tablet-width) {
    top: 23px;
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");
  }

  &--france {
    background-image: url("../img/flag-france.svg");
  }

  &--czechia {
    background-image: url("../img/flag-czechia.svg");
  }
}
