.country {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 190px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

  &--thailand {
    background-image: url("../img/thailand-mobile@2x.jpg");

    & .country__description::before {
      background-image: url("../img/flag-thailand.svg");
    }
  }

  &--france {
    background-image: url("../img/france-mobile@2x.jpg");

    & .country__description::before {
      background-image: url("../img/flag-france.svg");
    }
  }

  &--czech {
    background-image: url("../img/czech-mobile@2x.jpg");

    & .country__description::before {
      background-image: url("../img/flag-czech.svg");
    }
  }
}

.country__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 26px 24px 0;
  min-height: 90px;
  border-radius: 10px;
  background-color: $color-white;

  &::before {
    @include background-center;

    position: absolute;
    content: "";
    left: 25px;
    top: -13px;
    width: 35px;
    height: 24px;
  }
}

.country__name {
  display: flex;
  flex-direction: column;
}

.country__title {
  margin: 0;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: $color-black;
}

.country__slogan {
  width: 130px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $color-special-grey;
  opacity: 0.3;
}

.country__users {
  position: relative;
  margin: 0;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-basic-blue;
  opacity: 0.3;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    background-image: url("../img/icon-user.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    opacity: 0.3;
  }
}
