.countries {
  @include bottom-radius(30px);

  position: relative;
  margin-top: -30px;
  padding: 100px 25px 34px;
  background-color: $color-basic-blue-light;
  z-index: 8;

  @media screen and (min-width: $tablet-width) {
    @include bottom-radius(60px);

    margin-top: -60px;
    padding: 150px 75px 80px;
    background-image:
      url("/img/flags-back@1x.png"),
      url("data:image/svg+xml,%3Csvg width='141' height='141' viewBox='0 0 141 141' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='141' height='141' rx='20' fill='%23e2e5f2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position:
      right 40px top 156px,
      left 40px top 482px;
    background-size:
      289px 575px,
      141px 141px;
  }
}

.countries .heading-2 {
  margin-left: 24px;

  @media screen and (min-width: $tablet-width) {
    margin-left: 0;
  }
}

.countries__description {
  margin: 0 30px 60px 24px;
  color: $color-special-grey;

  @media screen and (min-width: $tablet-width) {
    width: 345px;
    margin: 0;
    margin-bottom: 105px;
  }
}
