.desired-countries {
  position: relative;

  @media screen and (min-width: $tablet-width) {

    padding-top: 42px;
    border-top: 1px solid #e1e3e9;

    &::before {
      position: absolute;
      content: "";
      right: 137px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #e1e3e9;
    }

    &::after {
      position: absolute;
      content: "";
      right: 137px;
      bottom: -41px;
      width: 1px;
      height: 41px;
      background-image: url("../img/countries-bottom.png");
    }
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 62px;

    &::before {
      right: 224px;
      height: calc(100% + 153px);
    }

    &::after {
      display: none;
    }
  }
}

.desired-countries__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  color: $color-button-blue;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    z-index: 1;
  }

  &::before {
    @include circle(9px);

    position: absolute;
    content: "";
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-button-blue;

    @media screen and (min-width: $tablet-width) {
      right: 130px;
      width: 14px;
      height: 14px;
    }

    @media screen and (min-width: $desktop-width) {
      right: 217px;
    }
  }

  &::after {
    right: 49px;
    bottom: -16px;
    width: 7px;
    height: 10px;
    background-image: url("../img/arrow-down.svg");

    @media screen and (min-width: $tablet-width) {
      display: none;
    }
  }
}

.desired-countries__item--choose {
  &::before {
    border: 1px solid #cbced9;
    background-color: $color-white;
  }
}

.desired-countries__item--add {
  &::before {
    border: 1px solid #cbced9;
    background-color: $color-basic-blue-light;
  }
}

.desired-countries__item--add .desired-countries__name {
  border-color: transparent;
  background-color: $color-basic-blue-light;

  &:hover {
    background-color: $color-special-blue-light;
  }

  &::before {
    background-image: none;
  }

  &::after {
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='%23c2c4c9' d='M8 6V0H6v6H0v2h6v6h2V8h6V6z'/%3E%3C/svg%3E");
    background-size: 14px 14px;
    opacity: 1;

    @media screen and (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      background-size: 20px 20px;
    }
  }
}

.desired-countries__item--add .desired-countries__close {
  display: none;
}

.desired-countries__item:last-of-type::after {
  background-image: none;
}

.desired-countries__name {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  height: 42px;
  padding: 10px 0 10px 10px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  background-color: $color-white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-button-blue;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (min-width: $tablet-width) {
    height: 70px;
    margin-right: 26px;
    padding: 20px 0 20px 25px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  @media screen and (min-width: $desktop-width) {
    margin-right: 45px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    right: 0;
    width: 55px;
    height: 32px;
    background-image: url("../img/fade-mobile.png");
    background-position: right;
    background-repeat: repeat-y;
    background-size: 55px 32px;
  }

  &::after {
    right: 14px;
    width: 14px;
    height: 7px;
    background-image: url("../img/dropdown-form.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px 7px;
    opacity: 0.3;

    @media screen and (min-width: $tablet-width) {
      width: 16px;
      height: 8px;
      background-size: 18px 8px;
    }
  }
}

.desired-countries__flag {
  position: relative;
  border: 1px solid #cbced9;
  border-radius: 4px;
  flex-shrink: 0;
  margin-left: -1px;
  width: 53px;
  height: 42px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 24px;

  @media screen and (min-width: $tablet-width) {
    width: 137px;
    height: 70px;
    border-color: transparent;
    background-size: 70px 47px;
    background-position: left 25px center;
  }

  @media screen and (min-width: $desktop-width) {
    width: 225px;
    background-position: left 40px center;
  }

  .desired-countries__item--choose &,
  .desired-countries__item--add & {
    display: none;

    @media screen and (min-width: $tablet-width) {
      display: block;
    }
  }

  &--bosnia {
    background-image: url("../img/flag-bosnia.svg");
  }

  &--czechia {
    background-image: url("../img/flag-czechia.svg");
  }
}

.desired-countries__close {
  @include circle(21px);
  @include flex-center;

  position: absolute;
  content: "";
  right: -10px;
  top: -10px;
  background-color: $color-basic-blue-light;
  cursor: pointer;
  stroke: #afb0b5;

  @media screen and (min-width: $tablet-width) {
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
  }

  &:hover {
    stroke-opacity: 0.3;
  }

  &:active {
    stroke-opacity: 0.05;
  }
}

.desired-countries__icon-close {
  width: 9px;
  height: 9px;

  @media screen and (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}
