.filter-country {
  @include bottom-radius(30px);

  position: relative;
  background-color: #e2e5f2;
  min-height: 85px;
  margin-top: -30px;
  padding: 53px 25px 30px 25px;
  z-index: 2;
}

.filter-country__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-country__title {
  position: relative;
  margin: 0;
  padding-left: 27px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-basic-blue-dark;
  order: 1;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 10px;
    background-image: url("/img/icon-filter.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px 10px;
  }
}

.filter-country__close {
  height: 18px;
  order: 2;
}

.filter-country__close-icon {
  display: inline-flex;
  width: 20px;
  height: 18px;
  background-image: url("/img/icon-dots.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 17px 3px;
}

.filter-country__regions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 35px 25px 25px 25px;
  order: 3;
}

.filter-country__region {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-basic-blue-dark;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--current {
    opacity: 1;
  }
}

.filter-country__filter {
  padding-left: 25px;
  padding-right: 25px;
}

.filter-country__letters-wrapper {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-country__letters {
  display: grid;
  grid-template-columns: repeat(5, 44px);
  border-top: 1px solid #cbced9;
  border-left: 1px solid #cbced9;
  background-color: $color-white;
}

.filter-country__letters input:checked + .filter-country__letter {
  border-color: #1d2e5b;
  background-color: #1d2e5b;
  color: $color-white;
}

.filter-country__letter {
  @include flex-center;

  height: 40px;
  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-button-blue;
  cursor: pointer;

  &:hover {
    background-color: $color-basic-blue-light;
  }

  &:active {
    border-color: #1d2e5b;
    background-color: #1d2e5b;
    color: $color-white;
  }
}

.filter-country__countries-wrapper {
  margin-bottom: 28px;
  padding-top: 15px;
  background-color: transparent;
}

.filter-country__countries {
  display: flex;
  flex-direction: column;
}

.filter-country__countries a {
  font-weight: normal;
  color: $color-grey-44;
  text-decoration: none;

  &:hover {
    color: $color-button-blue;
  }

  &:active {
    color: rgba($color-button-blue, 0.3);
  }
}

.filter-country__letter-title {
  display: none;
}

.filter-country__button {
  @include flex-center;

  width: 100%;
  min-height: 40px;
  border-radius: 20px;
  background-color: #d6daed;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-special-blue;
  cursor: pointer;

  &:hover {
    background-color: #c8cee8;
  }

  &:active {
    color: rgba($color-special-blue, 0.3);
    stroke-opacity: 0.3;
  }
}

.filter-country__button-icon {
  margin-right: 12px;
  stroke: $color-special-blue;
}
