.filter {
  @include bottom-radius(30px);
  position: absolute;
  width: 100%;
  margin: -30px 0 21px;
  background-color: $color-lavender;
  z-index: 5;

  @media screen and (min-width: $tablet-width) {
    @include bottom-radius(60px);
    margin: -60px 0 43px;
  }

  @media screen and (min-width: $desktop-width) {
    position: relative;
  }
}

.filter__inner {
  flex-direction: column;
  flex-wrap: wrap;
  width: $mobile-width;
  margin: 0 auto;
  min-height: 85px;
  padding: 47px 25px 15px;
  background-color: $color-lavender;

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 199px;
    padding: 120px 73px 60px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 120px 60px 60px 60px;
  }
}

.filter a {
  cursor: pointer;
}

.filter__wrapper {
  display: none;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 0;
  }
}

.filter__letters-wrapper {
  margin: 0;
  padding: 0;
  border: none;

  @media screen and (min-width: $desktop-width) {
    display: none;
  }
}

.filter__letters {
  display: grid;
  grid-template-columns: repeat(5, 45px);
  grid-template-rows: min-content;
  border-top: 1px solid $color-link-water;
  border-left: 1px solid $color-link-water;
  background-color: $color-white;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: 55px;
    column-gap: 48px;
    row-gap: 30px;
    border: none;
    background-color: transparent;
  }
}

.filter__letter-input {
  @include visually-hidden;
}

.filter__letter-input:checked + .filter__letter {
  border-color: $color-button-blue;
  background-color: $color-button-blue;
  color: $color-white;

  @media screen and (min-width: $tablet-width) {
    background-color: transparent;
    color: $color-basic-blue-dark;
  }
}

.filter__letter {
  @include flex-center;
  height: 42px;
  border-right: 1px solid $color-link-water;
  border-bottom: 1px solid $color-link-water;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: $color-button-blue;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    justify-content: center;
    height: 50px;
    border: none;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: rgba($color-basic-blue-dark, 0.3);
  }

  &:hover {
    background-color: $color-basic-blue-light;

    @media screen and (min-width: $tablet-width) {
      background-color: transparent;
      color: rgba($color-basic-blue-dark, 0.6);
    }
  }

  &:active {
    border-color: $color-button-blue;
    background-color: $color-button-blue;
    background-clip: padding-box;
    color: $color-white;

    @media screen and (min-width: $tablet-width) {
      background-color: transparent;
      color: $color-basic-blue-dark;
    }
  }
}

.filter__countries-wrapper {
  margin-bottom: 28px;
  padding-top: 15px;
  background-color: transparent;

  @media screen and (min-width: $tablet-width) {
    margin-left: 90px;
    padding-top: 0;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }
}

.filter__countries {
  display: none;
  flex-direction: column;

  @media screen and (min-width: $desktop-width) {
    display: flex;
    width: 20%;
    margin-bottom: 50px;
  }

  &--active {
    display: flex;
  }
}

.filter__countries a {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-grey-44;
  text-decoration: none;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    color: $color-button-blue;
  }

  &:active {
    color: rgba($color-button-blue, 0.3);
  }
}

.filter__letter-title {
  display: none;

  @media screen and (min-width: $desktop-width) {
    display: flex;
    margin: 0 0 30px 0;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: $color-special-blue;
  }
}

.filter__close-button {
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 40px;
  margin-bottom: 13px;
  border-radius: 20px;
  background-color: $color-hawkes-blue-d;
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-special-blue;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    margin: 20px 0 20px;
    min-height: 100px;
    font-size: 20px;
    letter-spacing: 0;
  }

  &:hover {
    background-color: $color-periwinkle;
  }

  &:active {
    color: rgba($color-special-blue, 0.3);
    stroke-opacity: 0.3;
  }
}

.filter__close-icon {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  stroke: $color-special-blue;

  @media screen and (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
    margin-right: 18px;
  }
}

.filter--expand .filter-header__title-colon,
.filter--expand .filter-header__collapse-icon,
.filter--expand .filter__wrapper,
.filter--expand .filter-header__regions,
.filter--expand .filter__close-button {
  display: flex;
}

.filter--expand .filter-header__expand {
  display: none;
}

.filter--expand .filter-header__collapse-text {
  @media screen and (min-width: $tablet-width) {
    display: flex;
  }
}

.filter--expand {
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 68px;
    background-color: transparent;
  }
}

.filter--expand .filter__inner {
  @media screen and (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.filter--expand .filter__wrapper {
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.filter--expand .filter__close-button {
  @media screen and (min-width: $desktop-width) {
    margin-top: 10px;
  }
}
