.footer-menu {
  display: flex;
}

.footer-menu__item {
  @include circle(45px);

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd74b;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
