.heading-1 {
  display: inline-block;
  margin: 0;
  padding-bottom: 9px;
  border-bottom: 5px solid $color-special-orange;


  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: $color-white;








}
