.header-contacts__phone {
  @include circle(40px);

  position: relative;
  background-color: $color-special-orange;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-call.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    background-color: $color-button-orange-hover;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.header-contacts__email {
  @include circle(40px);

  position: relative;
  background-color: $color-special-yellow-dark;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    background-color: $color-special-orange;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.header-contacts__login {
  @include flex-center;

  min-width: 190px;
  min-height: 40px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-basic-yellow;
  color: $color-basic-blue;

  &:hover {
    background-color: $color-special-yellow-dark;
  }

  &:active {
    color: rgba($color-basic-blue, 0.3);
  }
}
