.page-title {
  @include bottom-radius(30px);
  position: relative;
  width: 100%;
  background-color: $color-header-blue;
  z-index: 7;

  @media screen and (min-width: $tablet-width) {
    @include bottom-radius(60px);
    background-color: $color-header-blue;
  }

  @media screen and (min-width: $desktop-width) {
    background-color: $color-basic-blue-dark;
    /* background-color: $color-basic-blue; */
  }
}

.page-title__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: $mobile-width;
  min-height: 143px;
  margin: 0 auto;
  padding: 75px 25px 15px;

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 350px;
    padding: 140px 74px 70px 74px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 352px;
    padding: 140px 123px 71px 125px;
  }
}

.page-title__to-main {
  position: relative;
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 16px;
    padding-right: 60px;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: $color-white;

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 32px;
      height: 16px;
      background-image: url("../img/icon-arrow-bend.svg");
    }
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 15px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
