.planned-trips {
  @include top-radius(30px);
  position: relative;
  margin-top: -30px;
  background-color: $color-special-blue-light;

  @media screen and (min-width: $tablet-width) {
    margin-top: -30px;
  }

  @media screen and (min-width: $desktop-width) {
    @include top-radius(60px);
    margin-top: -60px;
  }
}

.planned-trips__inner {
  position: relative;
  width: $mobile-width;
  margin: 0 auto;
  padding: 24px 25px 50px 25px;

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 53px 75px 96px;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 53px 58px 110px 124px;
  }
}

.planned-trips__title {
  margin-bottom: 30px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 52px;
    font-size: 36px;
  }
}

.planned-trips__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding: 23px 25px;
  min-height: 154px;
  border-radius: 10px;
  background-color: $color-white;
  color: $color-button-blue;

  @media screen and (min-width: $tablet-width) {
    min-height: 152px;
    padding: 0;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    min-height: 97px;
    margin-bottom: 15px;
    padding: 30px 43px;
  }
}

.planned-trips__header {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 1;

  @media screen and (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0;
    padding: 38px 26px 33px 36px;
    border-bottom: 1px solid rgba($color-link-water, 0.3);
    font-size: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    padding: 0;
    border: none;
  }
}

.planned-trips__number {
  margin: 0 5px 0 0;
  font-weight: 500;
  font-size: 16px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-right: 35px;
  }
}

.planned-trips__countries {
  margin: 0;
  font-weight: bold;
}

.planned-trips__info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 33px 16px 33px;
    font-size: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: flex-end;
    width: 50%;
    padding: 0;
  }
}

.planned-trips__travelmates {
  margin: 0 0 5px 0;

  @media screen and (min-width: $tablet-width) {
    margin: 0 20px 0 0;
    letter-spacing: 0.1em;
  }

  @media screen and (min-width: $desktop-width) {
    width: 25%;
    margin-right: 15px;
  }
}

.planned-trips__dates {
  margin: 0 0 24px 0;

  @media screen and (min-width: $tablet-width) {
    margin: 0 20px;
  }
}

.planned-trips__change {
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $color-black;
  opacity: 0.3;

  @media screen and (min-width: $tablet-width) {
    margin: 0 0 0 20px;
    letter-spacing: 0.1em;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: auto;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
