.pognali-location {
  @include bottom-radius(30px);

  position: relative;
  margin-top: -30px;
  padding: 60px 25px 35px 25px;
  background-color: $color-basic-yellow;
  z-index: 4;
}

.pognali-location__address {
  position: relative;
  margin: 0 0 32px 0;
  padding-left: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-button-blue;

  &::before {
    @include circle(45px);

    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: #121936;
    background-image: url("../img/icon-location.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.pognali-location__button {
  border: 3px solid $color-basic-blue-dark;
  box-sizing: border-box;
  border-radius: 10px;

  &:hover {
    background: $color-basic-blue-dark;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.50001L0 11V0L10 5.50001Z' /%3E%3C/svg%3E");
    background-position: right 23px top 50%;
    background-repeat: no-repeat;
    color: $color-white;
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='%23ffffff' fill-opacity='0.3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 5.50001L0 11V0L10 5.50001Z' /%3E%3C/svg%3E");
    color: rgba($color-white, 0.3);
  }
}
