.potential-travelmate {
  display: grid;
  grid-template-columns: 104px 91px 75px;
  grid-template-rows: 60px 30px 50px 130px 80px 65px;
  border-radius: 20px;
  background-color: $color-white;

  color: #000000;
}

.potential-travelmate__photo {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin-left: 18px;
  margin-top: 15px;
}

.potential-travelmate__photo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 16px;
}

.potential-travelmate__name {
  position: relative;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: 13px 22px 8px 0;

  &::after {
    @include circle(6px);

    position: absolute;
    content: "";
    right: 0;
    top: 9px;
  }

  &--online::after {
    background-color: #81e31e;
  }

  &--offline::after {
    background-color: #f97676;
  }
}

.potential-travelmate__surname {
  display: block;
}

.potential-travelmate__name a {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: $color-button-blue;
}

.potential-travelmate__likes {
  position: relative;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-basic-blue;
}

.potential-travelmate__like-heart {
  @include circle(30px);

  position: absolute;
  content: "";
  top: -7px;
  left: -37px;
  background-color: #e2e5f2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 10px;
  background-image: url("/img/heart.svg");

  &--active {
    background-color: #f9eaea;
    background-image: url("/img/heart-active.svg");
  }
}

.potential-travelmate__tags {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  margin: 6px 55px 5px 25px;
  font-size: 15px;
  line-height: 18px;
  color: $color-grey-44;
}

.potential-travelmate__wish-wrapper {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  margin-top: 5px;
}

.potential-travelmate__wish-title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 19px 26px;
  font-size: 15px;
  line-height: 15px;
  background-color: $color-white;
  color: $color-grey-44;

  &::before,
  &::after {
    content: "";
    width: 10px;
    height: 1px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 2px;
    background-color: $color-basic-blue-light;
  }

  &::before {
    position: absolute;
    left: -26px;
    width: 15px;
    margin-right: 11px;
  }

  &::after {
    margin-left: 11px;
  }
}

.potential-travelmate__wish-countris {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.potential-travelmate__wish {
  position: relative;
  margin-bottom: 10px;
  padding-left: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-button-blue;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px 18px;
  }

  &--sri-lanka::before {
    background-image: url("/img/flag-sri-lanka.svg");
  }

  &--thailand::before {
    background-image: url("/img/flag-thailand.svg");
  }

  &--seychelles::before {
    background-image: url("/img/flag-seychelles.svg");
  }

  &--belgium::before {
    background-image: url("/img/flag-belgium.svg");
  }

  &--czechia::before {
    background-image: url("/img/flag-czechia.svg");
  }

  &--usa::before {
    background-image: url("/img/flag-usa.svg");
  }

  &--australia::before {
    background-image: url("/img/flag-australia.svg");
  }

  &--dominica::before {
    background-image: url("/img/flag-dominica.svg");
  }

  &--united-kingdom::before {
    background-image: url("/img/flag-united-kingdom.svg");
  }

  &--germany::before {
    background-image: url("/img/flag-germany.svg");
  }
}

.potential-travelmate__transport-wrapper {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.potential-travelmate__transport-title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 19px 26px;
  font-size: 15px;
  line-height: 15px;
  background-color: $color-white;
  color: $color-grey-44;

  &::before,
  &::after {
    content: "";
    width: 10px;
    height: 1px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 2px;
    background-color: $color-basic-blue-light;
  }

  &::before {
    position: absolute;
    left: -25px;
    width: 15px;
    margin-right: 11px;
  }

  &::after {
    margin-left: 11px;
  }
}

.potential-travelmate__transport-list {
  display: flex;
  margin-left: 22px;
}

.potential-travelmate__transport {
  @include flex-center;
  @include circle(32px);

  background-color: $color-basic-blue-light;

  &--on {
    fill: #1d2e5b;
  }

  &--off {
    fill-opacity: 0.15;
  }
}

.potential-travelmate__mark-wrapper {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.potential-travelmate__mark-title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 11px 14px;
  font-size: 15px;
  line-height: 15px;
  background-color: $color-white;
  color: $color-grey-44;

  &::after {
    content: "";
    width: 10px;
    height: 1px;
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 8px;
    margin-top: 2px;
    background-color: $color-basic-blue-light;
  }
}

.potential-travelmate__mark {
  @include flex-center;
  @include circle(45px);

  position: relative;
  margin-left: 10px;
}

.potential-travelmate__mark-indicator {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dashoffset: 38px;

  &--99 {
    stroke-dasharray: 133px 5px;
  }

  &--80 {
    stroke-dasharray: 110px 28px;
  }

  &--25 {
    stroke-dasharray: 35px 108px;
  }

  &--50 {
    stroke-dasharray: 69px 69px;
  }
}

.potential-travelmate__mark-number {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: $color-button-blue;
}

.potential-travelmate__invite {
  @include flex-center;

  grid-column: 1 / 4;
  grid-row: 6 / 7;

  height: 40px;
  margin: 3px 20px 22px;
  border-radius: 25px;
  background-color: $color-basic-yellow;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-basic-blue;
}
