.profile-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 24px 25px 18px 25px;
}

.profile-header__mark {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 10px auto 18px;
  background-color: transparent;
}

/*
$pi: math.$pi;
$circumference: 2 * $pi * 50;
$arc-length: $circumference * 0.8;
 */

/*

Длина окружности - 301px
stroke-dasharray: 241px 60px;

*/


.profile-header__mark .mark__indicator {
  width: 100px;
  height: 100px;
  stroke-dasharray: 251px 63px;
  stroke-dashoffset: 87px;
  stroke-width: 3;
}

.profile-header__mark .mark__number {
  border-bottom: 1px solid rgba($color-grey-44, 0.3);
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  color: $color-basic-blue;
}

.profile-header__mark .mark__level {
  font-size: 18px;
  line-height: 18px;
  color: $color-grey-44;
}

.profile-header__photo {
  width: 100px;
  height: 100px;
  margin: 0 18px 18px auto;
}

.profile-header__photo img {
  border-radius: 50%;
}

.profile-header__change-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  border-radius: 20px;
  background-color: $color-special-blue-light;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-basic-blue;
  cursor: pointer;
}
