.social {
  display: flex;
}

.social__icon {
  @include circle(45px);
  @include flex-center;

  background-color: $color-basic-yellow;

  &:hover {
    background-color: $color-special-yellow-dark;
  }

  &:active {
    fill-opacity: 0.3;
  }
}
