.step-header {
  display: flex;
}

.step-header__title-wrapper {
  margin-bottom: 20px;
}

.step-header__title {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: $color-button-blue;
}

.step-header__description {
  margin: 0;
  color: $color-grey-44;
}

.step-header__steps-list {
  @include list-reset;
  display: none;
}

.step-header__step {
  position: relative;
  margin-bottom: 20px;
  padding-left: 42px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba($color-black, 0.6);

  &::before {
    @include circle(6px);
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($color-button-blue, 0.3);
  }

  &--current {
    letter-spacing: 0.11em;
    color: $color-black;

    &::before {
      background-color: $color-button-blue;
    }
  }
}
