.step-inputs {
  display: flex;
  flex-wrap: wrap;
  color: $color-button-blue;

  @media screen and (min-width: $desktop-width) {
    padding-top: 30px;
    border-top: 1px solid #e1e3e9;
  }
}

.step-inputs__item {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  @media screen and (min-width: $tablet-width) {
    padding-top: 25px;
    border-top: 1px solid #e1e3e9;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 0;
    border-top: none;
  }
}

.step-inputs__item--travelmates {
  @media screen and (min-width: $tablet-width) {
    order: 1;
  }
}

.step-inputs__item--duration {
  @media screen and (min-width: $tablet-width) {
    order: 3;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 14px;
    margin-right: 245px;
  }
}

.step-inputs__label {
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $color-button-blue;
  order: 1;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  @media screen and (min-width: $desktop-width) {
    width: 27%;
    margin-right: 25px;
    line-height: 70px;
    letter-spacing: 0;
    order: 1;
  }
}

.step-inputs__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 43px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  order: 3;

  @media screen and (min-width: $tablet-width) {
    height: 70px;
    margin-top: 24px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 180px;
    margin: 0;
    order: 2;
  }

  &:hover {
    border-color: #959bb2;
  }

  &:active {
    border-color: $color-basic-blue;
  }
}

.step-inputs__button,
.step-inputs__input {
  border: none;
  background-color: transparent;
}

.step-inputs__button {
  position: relative;
  width: 50px;
  padding: 10px;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    width: 80px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 80px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-grey-cc;
  }

  &::before {
    width: 14px;
    height: 2px;

    @media screen and (min-width: $tablet-width) {
      width: 20px;
    }
  }

  &:hover {
    &::before,
    &::after {
      background-color: #959bb2;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: $color-basic-blue;
    }
  }
}

.step-inputs__button--minus {
  &::before {
    left: 13px;

    @media screen and (min-width: $tablet-width) {
      left: 22px;
    }

    @media screen and (min-width: $desktop-width) {
      left: 19px;
    }
  }
}

.step-inputs__button--plus {
  &::before {
    right: 13px;

    @media screen and (min-width: $tablet-width) {
      right: 22px;
    }

    @media screen and (min-width: $desktop-width) {
      right: 19px;
    }
  }

  &::after {
    right: 19px;
    width: 2px;
    height: 14px;

    @media screen and (min-width: $tablet-width) {
      right: 31px;
      height: 20px;
    }

    @media screen and (min-width: $desktop-width) {
      right: 29px;
      height: 20px;
    }
  }
}

.step-inputs__input {
  width: 100px;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $color-button-blue;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 60px;
  }
}

.step-inputs__unit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: rgba($color-button-blue, 0.3);
  margin-left: auto;
  order: 2;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    letter-spacing: 0.08em;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 35px;
    line-height: 70px;
    order: 3;
  }
}

.step-inputs__kids {
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 30px;
    order: 2;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.step-inputs__kids-possible {
  position: relative;
  padding-left: 40px;
  font-size: 15px;
  line-height: 1;
  color: $color-button-blue;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    padding-left: 59px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  @media screen and (min-width: $desktop-width) {
    line-height: 70px;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;

    @media screen and (min-width: $tablet-width) {
      width: 36px;
      height: 36px;
    }
  }

  &::before {
    border: 1px solid #cbced9;
    border-radius: 4px;
  }

  &::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;

    @media screen and (min-width: $tablet-width) {
      background-size: 11px;
    }
  }

  &:hover::before {
    border-color: #959bb2;
  }

  &:active::before {
    border-color: $color-button-blue-light;
    background-color: $color-button-blue-light;
  }
}

.step-inputs__kids input:checked + .step-inputs__kids-possible {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M12 0L3.8 8 0 4.3v4L3.8 12 12 4z' fill='%23161c35'/%3E%3C/svg%3E");
  }

  &:active::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M12 0L3.8 8 0 4.3v4L3.8 12 12 4z' fill='%23161c35' fill-opacity='0.3'/%3E%3C/svg%3E");
  }
}
