.steps {
  position: relative;
  top: -80px;
  counter-reset: steps;
}

.steps__item {
  position: relative;
  padding: 22px 70px 42px 24px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $color-basic-blue;
  list-style-type: none;

  &::before {
    position: absolute;
    counter-increment: steps;
    content: counter(steps);
    top: 22px;
    right: 21px;
    color: $color-white;
  }

  &:not(:first-child) {
    margin-top: -20px;
  }

  &:last-child {
    padding-bottom: 22px;
  }

  &:nth-child(1) {
    background-color: $color-special-orange;
  }

  &:nth-child(2) {
    background-color: $color-special-orange-light;
  }

  &:nth-child(3) {
    background-color: $color-special-yellow-dark;
  }

  &:nth-child(4) {
    background-color: $color-basic-yellow;
  }
}
