.travelmate {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 428px;
  margin: 0 0 10px;
  border-radius: 10px;

  @media screen and (min-width: $tablet-width) {
    width: 285px;
    min-height: 483px;
    margin-right: 50px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 0 30px 30px 30px;
  }
}

.travelmate:hover {
  box-shadow: 0 4px 9px rgba($color-black, 0.16);
}

.travelmate:last-of-type {
  margin-bottom: 0;

  @media screen and (min-width: $tablet-width) {
    margin-right: 0;
  }

  @media screen and (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.travelmate__photo,
.travelmate__img {
  @include top-radius(10px);
  display: block;
  width: 270px;
  height: 270px;

  @media screen and (min-width: $tablet-width) {
    @include top-radius(20px);
    width: 285px;
    height: 285px;
  }
}

.travelmate__photo {
  overflow: hidden;
}

.travelmate:hover .travelmate__img {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.travelmate__info {
  @include bottom-radius(10px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  min-height: 158px;
  background-color: $color-white;

  @media screen and (min-width: $tablet-width) {
    @include bottom-radius(20px);
  }
}

.travelmate__flags {
  @include flex-center;
  position: relative;
  min-height: 25px;
  margin-top: -13px;
}

.travelmate__flag {
  width: 35px;
  height: 26px;
  margin-left: 10px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 26px;

  &--sri-lanka {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czechia {
    background-image: url("../img/flag-czechia.svg");
  }
}

.travelmate__name {
  position: relative;
  display: block;
  margin: 11px auto 14px;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  text-align: center;

  @media screen and (min-width: $tablet-width) {
    margin: 6px auto 22px 46px;
    padding-left: 22px;
  }

  @media screen and (min-width: $desktop-width) {
    margin: 8px auto 23px 47px;
    padding-left: 22px;
    padding-right: 16px;
  }

  &::before {
    @include circle(6px);
    position: absolute;
    content: "";
    left: 0;
    top: calc(50% - 3px);

    @media screen and (min-width: $tablet-width) {
      top: calc(50% + 1px);
      width: 8px;
      height: 8px;
    }
  }

  &--offline::before {
    background-color: $color-user-status-offline;
  }

  &--online::before {
    background-color: $color-user-status-online;
  }
}

.travelmate__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 1;
  text-decoration: none;
  color: $color-button-blue;

  @media screen and (min-width: $tablet-width) {
    font-size: 24px;
  }
}

.travelmate__tags {
  margin: 0;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $color-special-grey;

  @media screen and (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 23px;
  }
}

.travelmate__transport {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 23px;
  }

  @media screen and (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.travelmate__mark {
  position: absolute;
  content: "";
  justify-content: flex-start;
  left: 17px;
  top: 17px;
  width: 58px;
  height: 58px;

  @media screen and (min-width: $tablet-width) {
    left: 23px;
    top: 21px;
    width: 58px;
    height: 58px;
  }
}

.travelmate__mark .mark__indicator {
  width: 60px;
  height: 60px;
}

.travelmate__mark .mark__number {
  padding: 12px 0 0 2px;
}

.travelmate__mark .mark__level {
  margin-top: -1px;
  padding: 1px 3px 0;
}
