.travelmates-wrapper {
  width: $mobile-width;
  margin: 76px auto 76px;
  padding-left: 25px;
  padding-right: 25px;

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 182px auto 122px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: $desktop-width;
    margin: 0 auto 135px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
