.travelmate {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px;
  border-radius: 10px;
}

.travelmate__photo {
  @include top-radius(10px);

  width: 270px;
  height: 270px;
}

.travelmate__info {
  @include bottom-radius(10px);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  min-height: 158px;
  background-color: $color-white;
}

.travelmate__flags {
  @include flex-center;

  position: relative;
  min-height: 25px;
  margin-top: -11px;
}

.travelmate__flag {
  width: 35px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;

  &--sri-lanka {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czechia {
    background-image: url("../img/flag-czechia.svg");
  }
}

.travelmate__name {
  position: relative;
  display: block;
  margin: 13px 0;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: $color-button-blue;

  &::before {
    @include circle(6px);

    position: absolute;
    content: "";
    left: 0;
    top: calc(50% - 3px);
  }

  &--offline::before {
    background-color: $color-user-status-offline;
  }

  &--online::before {
    background-color: $color-user-status-online;
  }
}

.travelmate__tags {
  margin: 0;
  width: 180px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: $color-special-grey;
}

.travelmate__transport {
  padding-top: 16px;
  padding-bottom: 16px;
}

.travelmate__mark {
  position: absolute;
  content: "";
  left: 17px;
  top: 17px;
}
