/*  Colors  */

$color-white: #ffffff;
$color-black: #000000;

$color-grey-44: #444444;
$color-grey-b2: #b2b2b2;
$color-grey-c4: #c4c4c4;
$color-grey-cc: #cccccc;
$color-grey-d9: #d9d9d9;
$color-grey-e5: #e5e5e5;
$color-grey-f2: #f2f2f2;

$color-basic-blue: #161c35;
$color-basic-blue-light: #edeff6;
$color-basic-blue-dark: #192144;
$color-basic-yellow: #ffd74b;
$color-special-yellow-dark: #ffbd30;
$color-special-blue: #192144;
$color-special-blue-light: #dfe3f0;
$color-special-blue-dark: #141b3b;
$color-special-grey: #444444;
$color-special-red: #f47e7e;
$color-special-orange: #ff8d30;
$color-special-orange-light: #ffa530;
$color-button-blue: #1d2e5b;
$color-button-blue-light: #e2e5f1;
$color-button-orange-hover: #f26926;
$color-user-status-online: #81e31e;
$color-user-status-offline: #f97676;
$color-header-blue: #182044;


/*  Media Queries  */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;


/*  Mixins  */

@mixin background-center {
  background-position: center;
  background-repeat: no-repeat;
}

@mixin top-radius ($radius: 30px) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin bottom-radius ($radius: 30px) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin circle ($radius: 45px) {
  width: $radius;
  height: $radius;
  border-radius: 50%;
}

@mixin mark-indicator($procent) {
  $circumference: 100px;
  $arc: $circumference * $procent / 100;
  $gap: $circumference - $arc;

  stroke-dasharray: $arc $gap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
