/*  Colors  */

$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;

$color-grey-44: #444444;
$color-grey-b2: #b2b2b2;
$color-grey-c4: #c4c4c4;
$color-grey-cc: #cccccc;
$color-grey-d9: #d9d9d9;
$color-grey-e5: #e5e5e5;
$color-grey-f2: #f2f2f2;

$color-basic-blue: #161c35;
$color-basic-blue-light: #edeff6;
$color-basic-blue-dark: #192144;
$color-basic-yellow: #ffd74b;
$color-special-yellow-dark: #ffbd30;
$color-special-blue: #192144;
$color-special-blue-light: #dfe3f0;
$color-special-blue-dark: #141b3b;
$color-special-grey: #444444;
$color-special-red: #f47e7e;
$color-special-orange: #ff8d30;
$color-special-orange-light: #ffa530;
$color-button-blue: #1d2e5b;
$color-button-blue-light: #e2e5f1;
$color-button-orange-hover: #f26926;
$color-user-status-online: #81e31e;
$color-user-status-offline: #f97676;
$color-header-blue: #182044;
$color-lavender: #e2e5f2;
$color-midnight-blue: #132576;
$color-ghost-white: #f3f4f8;
$color-hawkes-blue: #d6d9e6;
$color-outrageous-orange: #ff5c23;
$color-midnight-express: #121936;
$color-hawkes-blue-b: #d4d9eb;
$color-tory-blue: #365094;
$color-link-water: #cbced9;
$color-solitude: #e1e3e9;
$color-mischka: #afb0b5;
$color-white-smoke: #ffefef;
$color-hawkes-blue-d: #d6daed;
$color-periwinkle: #c8cee8;
$color-hawkes-blue-e9: #d1d7e9;
$color-echo-blue: #aeb4cb;
$color-rock-blue: #959bb2;
$color-midnight-express-41: #101d41;
$color-tutu: #f9eaea;
$color-golden-dream: #f3c72b;


/*  Media Queries  */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;


/*  Mixins  */

@mixin background-center {
  background-position: center;
  background-repeat: no-repeat;
}

@mixin top-radius ($radius: 30px) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin bottom-radius ($radius: 30px) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin circle ($radius: 45px) {
  width: $radius;
  height: $radius;
  border-radius: 50%;
}

@mixin mark-indicator($procent) {
  $circumference: 100px;
  $arc: $circumference * $procent / 100;
  $gap: $circumference - $arc;

  stroke-dasharray: $arc $gap;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
