:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-blue: #161C35;
  --basic-blue-light: #EDEFF6;
  --basic-blue-dark: #192144;
  --basic-yellow: #FFD74B;
  --special-yellow-dark: #FFBD30;
  --special-blue: #192144;
  --special-blue-light: #DFE3F0;
  --special-blue-dark: #141B3B;
  --special-grey: #444444;
  --special-red: #F47E7E;
  --special-orange: #FF8D30;
  --special-orange-light: #FFA530;
  --button-blue: #1D2E5B;
  --button-orange-hover: #F26926;
  --user-status-online: #81E31E;
  --user-status-offline: #F97676;
}


$black: #000000;
$white: #FFFFFF;
